fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose
passlib[bcrypt]
bcrypt==4.0.1
alembic
psycopg2
slowapi
python-dotenv
pyjwt
python-multipart
email-validator
pytest
pytest-asyncio
httpx
black 
ruff